.social-icons a{
    color: rgba(255,255,255,0.7);

}
.social-icons a:last-child{   /* margin do último elemento*/
    margin-right: 0;
}
.social-icons a:hover{
    color: rgba(255,255,255);

}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 30.25%; 
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.rod{
    width: 100%;
    float: left;
    text-align: center;
    color: white;
    background: linear-gradient(to right, green, black);
}

.img-responsive{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.table{
    font-size: 10px;

}

ul li a{
    color: green;
    padding: 13px;
  }
  
  ul li a:hover{
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius:5px;
  }

  #metade{
      margin-top: -60px;
  }

  #formRecup{
      text-align: center;
      margin-left: 380px;
  }


